/*
Class Selector:
  .polygon state state2 ... {
      key: value;
      key2: value2;
      ...
  }

  图形状态 state 可取以下: 
    readonly
    hidden
    hilight
    pickup
    dragging
    deleting
    fault
    flash
    zoomin
    zoomout
    panning

ID Selector:
    #1 #2 #ID ... {
    ...
    }

Any Selector:
    * {
    ...
    }
*/


.polygon readonly hidden {
    /* 设置多边形外轮廓线样式: border */
    border-width: 3px; /* 仅支持 px (像素点) 和 pt (1/72 英寸) 单位 */
    border-style: solid;
    border-color: #FFFF00;
    /* 设置多边形内填充样式: fill */
    fill-opacity: 1;
    fill-style: solid;
    fill-color: #00FFFF;
}

.polygon readonly hidden {
    border: 3px solid #FFFF00;
    fill: 1 solid #00FFFF;
}


.polygon readonly flash hidden, .line hilight pickup dragging deleting {
    border: 3px solid #FFFF00;
    fill-opacity: 1;
    fill-style: solid;
    fill-color: #00FFFF;
}


.line .text hilight dragging {
    border-width: 3px;
    border-style: solid;
    border-color: #FFFF00;
    fill-opacity: 1;
    fill-style: solid;
    fill-color: #00FFFF;
}

*{
    /* 设置多边形外轮廓线样式: border */
    border-width: 3px; /* 仅支持 px (像素点) 和 pt (1/72 英寸) 单位 */
    border-style: solid;
    border-color: #FFFF00;

    /* 设置多边形内填充样式: fill */
    fill-opacity: 1;
    fill-style: solid;
    fill-color: #00FFFF;
}

#123 pickup dragging {
    /* 设置多边形外轮廓线样式: border */
    border-width: 3px; /* 仅支持 px (像素点) 和 pt (1/72 英寸) 单位 */
    border-style: solid;
    border-color: #FFFF00;
    /* 设置多边形内填充样式: fill */
    fill-opacity: 1;
    fill-style: solid;
    fill-color: #00FFFF;
}

#1 #2 #4 pickup dragging    {
    /* 设置多边形外轮廓线样式: border */
    border-width: 3px; /* 仅支持 px (像素点) 和 pt (1/72 英寸) 单位 */
    border-style: solid;
    border-color: #FFFF00;
    /* 设置多边形内填充样式: fill */
    fill-opacity: 1;
    fill-style: solid;
    fill-color: #00FFFF;
}

#6 #8 #* {
    /* 设置多边形外轮廓线样式: border */
    border-width: 3px; /* 仅支持 px (像素点) 和 pt (1/72 英寸) 单位 */
    border-style: solid;
    border-color: #FFFF00;

    /* 设置多边形内填充样式: fill */
    fill-opacity: 1;
    fill-style: solid;
    fill-color: #00FFFF;
}